@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins:wght@400;500&display=swap");

:root {
  --primary-color: #161616;
  --text-dark: #000000;
  --text-light: #767268;
  --text-gray: #4c4b4b;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --blue: #0000FF;
  --max-width: 1200px;
  --header-font: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.section-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
  overflow: hidden;
}

.section-header h2 {
  position: relative;
  isolation: isolate;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding-inline: 1rem;
  font-size: 2rem;
  font-family: var(--header-font);
  /* color: var(--text-dark); */
  text-align: center;
  text-decoration: underline;
}

img {
  width: 100%;
  display: flex;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)
    ),
    url(images/charlie.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}

.nav-bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--text-dark);
}

.nav-logo {
  max-width: 100px;
}

.nav-menu-btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav-links {
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
  font-family: var(--header-font);
  background-color: var(--primary-color);
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}

.nav-links.open {
  transform: translateY(0);
}

.nav-links .nav-logo {
  display: none;
}

.nav-links a,
.shop-button {
  position: relative;
  isolation: isolate;
  padding-bottom: 8px;
  color: var(--white);
  transition: 0.3s;
}

/* styling for shop drop down list */

.shop-dropdown {
  float: left;
  overflow: hidden;
}

.shop-dropdown, 
.shop-button {
  font-size: 1.2rem;
  border: none;
  outline: none;
  /* padding: 14px 16px; */
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

.shop-content {
  display: none;
  position: absolute;
}

.shop-button i {
  font-size: .75rem;
}

.header-container {
  padding-block: 10rem;
  min-height: 90vh;
}

/* Gear favorites section */

.gear-favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gear {
  overflow: hidden;
  background-color: var(--white);
  color: var(--blue);
  text-align: center;
  width: 340px;
  height: 440px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1.2rem;
  margin: 1rem;
}

.gear:hover img {
  scale: 1.1;
}

.gear:hover {
  box-shadow: 5px 15px 25px #3f3f3f4e;
}

.gear img {
  height: 200px;
  margin: 1rem;
  transition: all 0.3s;
}

.gear a {
  color: var(--white);
  display: inline-block;
  background-color: var(--primary-color);
  padding: 0.5rem 1.2rem;
  border-radius: .5rem;
  margin-top: 1rem;
  transition: all 0.2s;
}

.gear a:hover {
  transform: scale(1.1);
  background: var(--text-gray);
}


/* media queries */

@media (width > 768px) {
  nav {
    padding: 2rem 1rem;
    position: static;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-bar {
    display: none;
  }

  .nav-links {
    padding: 0;
    width: 100%;
    position: static;
    transform: none;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }

  .nav-links a:hover,
  .shop-button:hover {
    color: #d2cfcf;
  }

  .nav-links .nav-logo {
    display: block;
    max-width: 180px;
  }

}
