@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins:wght@400;500&display=swap");

:root {
  --primary-color: #161616;
  --text-dark: #000000;
  --text-light: #767268;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.section-container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
  overflow: hidden;
}

.section-header {
  position: relative;
  isolation: isolate;
  width: fit-content;
  margin-inline: auto;
  margin-bottom: 1rem;
  padding-inline: 1rem;
  font-size: 2rem;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.section-header::before,
.section-header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 1px solid var(--text-light);
  border-bottom: 1px solid var(--text-light);
  z-index: -1;
}

.section-header::after {
  right: 100%;
}

.section-header::before {
  left: 100%;
}

.section-description {
  line-height: 1.75rem;
  color: var(--text-light);
}

.btn {
  padding: 1rem 1.5rem;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--text-dark);
}

img {
  width: 100%;
  display: flex;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)
    ),
    url(images/charlie.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}

.nav-bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--text-dark);
}

.nav-logo {
  max-width: 100px;
}

.nav-menu-btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav-links {
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
  font-family: var(--header-font);
  background-color: var(--primary-color);
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}

.nav-links.open {
  transform: translateY(0);
}

.nav-links .nav-logo {
  display: none;
}

.nav-links a {
  position: relative;
  isolation: isolate;
  padding-bottom: 8px;
  color: var(--white);
  transition: 0.3s;
}

.header-container {
  padding-block: 10rem;
}

.header-container p {
  font-size: 1.2rem;
  font-family: var(--header-font);
  color: var(--white);
}

.header-container h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 400;
  font-family: var(--header-font);
  line-height: 3rem;
  color: var(--white);
}

.banner-grid {
  margin-bottom: 10px;
  position: relative;
  isolation: isolate;
  display: grid;
  grid-auto-rows: 240px;
  gap: 2px;
}

.banner-card {
  display: grid;
  place-content: center;
}

.banner-card h4 {
  font-size: 3rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
  text-align: center;
}

.banner-card:nth-child(1) {
  background-image: url("images/banner-1.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-card:nth-child(3) {
  background-image: url("images/banner-2.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-card:nth-child(even) {
  background-color: var(--text-dark);
}

.banner-grid img {
  position: absolute;
  width: 250px;
  padding: 3rem 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  border: 10px solid var(--text-dark);
  display: none;
}


.about-container .section-description {
  max-width: 900px;
  margin-inline: auto;
  text-align: center;
}

.feature {
  position: relative;
  isolation: isolate;
}

.feature::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 60%;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/features-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.feature-container h4 {
  max-width: 600px;
  margin-inline: auto;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 300;
  font-family: var(--header-font);
  color: #b82049;
  text-align: center;
  line-height: 2.5rem;
}

.feature-container .section-header {
  color: var(--white);
  border-color: transparent;
}

.feature-grid {
  isolation: isolate;
  margin-top: 2rem;
  display: grid;
}

.feature-content {
  display: grid;
  align-items: center;
}

.feature-content > div {
  padding: 2rem;
  font-size: 1.1rem;
  color: var(--primary-color);
  background-color: var(--white);
  z-index: 1;
}

.feature-content .btn {
  margin-top: 1rem;
}

.feature-video video {
  width: 100%;
}

.blog-grid {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

.blog-card {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  cursor: pointer;
}

.blog-header {
  padding: 1rem;
}

.blog-header h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.blog-card-footer {
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  border-top: 1px solid var(--text-light);
}

.blog-card-footer div {
  font-size: 0.9rem;
  color: var(--text-light);
}

.blog-card-footer span {
  margin-right: 5px;
  font-size: 1rem;
}

.blog-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  padding: 2rem;
  background-color: rgba(22, 22, 22, 0.95);
  z-index: 1;
  transition: 0.5s;
}

.blog-content h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.blog-content p {
  color: var(--text-light);
  line-height: 1.75rem;
}

.blog-card:hover .blog-content {
  top: 0;
}

.instagram-container {
  padding-block: 1rem;
  overflow: hidden;
}

.instagram-flex {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 10px;

  animation: scroll 45s linear infinite;
}

.instagram-flex img {
  max-width: 120px;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 5px));
  }
}

/* media queries */

@media (width > 480px) {
  .banner-grid {
    grid-auto-rows: 280px;
    grid-template-columns: repeat(2, 1fr);
  }

  .banner-card:nth-child(4) {
    grid-area: 2/1/3/2;
  }

  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .instagram-flex img {
    max-width: 135px;
  }
}

@media (width > 768px) {
  nav {
    padding: 2rem 1rem;
    position: static;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-bar {
    display: none;
  }

  .nav-links {
    padding: 0;
    width: 100%;
    position: static;
    transform: none;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }

  .nav-links .nav-logo {
    display: block;
    max-width: 180px;
  }

  .banner-grid {
    grid-auto-rows: 320px;
  }

  .banner-grid img {
    display: flex;
  }

  .feature-grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .feature-content > div {
    transform: translateX(2rem);
  }

  .feature-video video {
    transform: translateX(-2rem);
  }

  .blog-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .instagram-flex img {
    max-width: 150px;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    gap: 2rem;
  }

  .footer-col:nth-child(1) {
    grid-area: 1/2/2/3;
  }

  .footer-col form {
    margin-inline-start: unset;
  }
}
